@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Sen&display=swap');
/*------------------------------Reset---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
/*-------------------------------root---------------------------------*/
:root {
    --bg-default-page: #000000;
    --bg-proyects-color: #181823;
    --bg-contact-color: #181823;
    --bg-second-box-color: #494993;
    --menu-projects: #10fff1;
    --menu-home: #E40037;
    --menu-contact: #0C08B1;
    --white-color: white;
}

body {
    background-color: var(--bg-default-page);
    
}

.logo_container {
    width: 60px;
    aspect-ratio: 1;
    color: var(--white-color);
    border-radius: 50%;
    border: var(--white-color) solid 6px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
}

.main_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
    
    
}

.mini_logo {
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 10px;
    font-size: 10px;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-default-page);
    display: flex;
    justify-content: center;
    align-items: center;
}

.words_logo {
    position: absolute;
    width: 100px;
    font-size: 20px;
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--menu-home);
    font-weight: bold;
}

.home_container,
.projects_container,
.contact_container {
    width: 100%;
    max-width: 1050px;
    height: 657px;
    display: flex;
   margin: auto;
}



.home_about_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home_title {
    position: absolute;
    top: 90px;
    width: 100%;
    max-height: 10%;
    display: flex;
    justify-content:start;
    align-items: end;
    color: var(--white-color);
    padding-left: 10px;
}

.home_img_container {
    display: flex;
    width: 100%;
    max-height: 80%;
    
}

.home_img_container img {
    display: block;
    width: 100%;
    height: 100%;
}

.home_portada {
    position: absolute;
    top: 250px;
    left: 40px;
    width: 100%;
    max-width: 400px;
}

.home_portada img {
    display: block;
    width: 100%;
    margin: auto;
}

.home_introduce_container {
    width: 50%;
    height: 100%;
    
}

.home_intro_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
    
}

.home_greet {
    width: 70%;
    max-height: 10%;
    display: flex;
    justify-content:start;
    align-items: end;
    color: var(--white-color);
    

   
}

.home_info {
    
    width: 50%;
    max-height: 80%;
    color: var(--white-color);
    font-size: 18px;
    position: relative;
}

.fa-file-arrow-down {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    color: wheat;
    animation-name: download_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-shadow: 0px 1px 2px #000003;
}

.fa-file-arrow-down:hover {
/*animation-play-state: paused;*/
text-shadow: none;
}

@keyframes download_animation {
0% {
    transform: translateY(-4%);
}
100% {
    transform: translateY(4%);
}
}

.fa-file-arrow-down:hover {
transform: scale(1.05); 
transition: transform 0.5s ease;
}

.fa-file-arrow-down p {
    font-size: 14px;
    margin-top: 10px;
}

.download_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 120%;
    
}

.download_link {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: wheat;
    text-shadow: 0px 1px 2px #000003;
    transition: transform 0.5s ease
}

.download_link:hover {
    transform: translateY(-2px);
    transform: scale(1.01);
    text-decoration: underline;
    transition: transform 0.2s ease
}

.home_info strong {
    color: var(--menu-home);
}

.home_icons {
    width: 70%;
    height: 100%;
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}

.home_icons img {
    width: 80px;
    max-height: 80px;
    color: var(--white-color);
}

.home_icons_box {
    width: 100%;
    max-width: 60px;
    height: 60px;
    background-color: var(--white-color);
    padding: 10px;
}

.home_icons_box img {
    display: block;
    width: 100%;
    margin: auto;
}

.projects_about_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.projects_title {
    width: 100%;
    max-height: 10%;
    display: flex;
    justify-content:start;
    align-items: end;
    color: var(--white-color);
    padding-left: 10px;
    position: absolute;
    top: 90px;
}

.projects_img_container {
    display: flex;
    width: 100%;
    max-width: 500px;
    max-height: 80%;
    
}

.projects_img_container img {
    display: block;
    width: 100%;
    height: 100%;
    
}

.projects_introduce_container {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    
}

.projects_body_img {
    width: 150%;
    max-width: 787.5px;
    height: 100%;
    max-height: 450px;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: -260px;
    overflow: hidden;
    
}

.projects_box {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.1);
    display: grid;
    justify-content: left;
    padding: 20px 50px;
    overflow-y: scroll;
    gap: 30px;
    
}


.projects_box::-webkit-scrollbar {
    width: 10px;
    
    
}

.projects_box::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu-projects);
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,
    transparent,transparent)
}

.contact_about_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact_title {
    width: 100%;
    max-height: 10%;
    display: flex;
    justify-content:start;
    align-items: end;
    color: var(--white-color);
    padding-left: 10px;
    position: absolute;
    top: 160px;
    left: 255px;
}

.contact_img_container {
    display: flex;
    width: 100%;
    max-height: 80%;
    
}

.contact_img_container img {
    display: block;
    width: 100%;
    height: 100%;
}

.contact_introduce_container {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    
}

.contact_form {
    width: 150%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: -260px;
    background-color: rgba(204, 204, 204, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 100px;
    color: white;
}

.contact_form button {
    width: 150px;
    height: 80px;
    background-color: var(--bg-second-box-color);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
    margin-left: 60%;
}

.name_box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    
}

.input_form {
    border-radius: 7px;
    height: 30px;
    background-color: var(--bg-second-box-color);
    padding: 5px;
}

.input_form::placeholder {
    color: transparent;
    
}

.input_form:hover {
    background-color: var(--bg-contact-color);
    transition: background-color 0.20s ease;
}

.email_box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    
}

.message_box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    
}

.message_box textarea {
    height: 50px;
    border-radius: 7px;
    background-color: var(--bg-second-box-color);
    padding: 5px;
    transition: background-color 0.20s ease;
}

.message_box textarea:hover {
    background-color: var(--bg-contact-color);
    transition: background-color 0.20s ease;
}

.message_box textarea::placeholder {
    color: transparent;
}

.skills_portafolio-card{
    
    
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
    
}

.skills_portafolio-card a {
    width: 100%;
    max-width: 500px;
    display: flex;
    background-color: rgb(31, 31, 31);
}

.descrip {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #ccc;
    
}

/*.descrip h5 {
    width: 100px;
    font-size: 8px;
    text-align: center;
    color: rgb(61, 60, 60);
}

.descrip p {
    width: 100px;
    text-align: center;
    font-size: 8px;
    color: rgb(61, 60, 60);
}
*/

.skills_portafolio-img{
    display: block;
    width: 100%;
    max-width: 150px;
    margin: auto;
}


.card_info2 {
    position: absolute;

    border: solid 1px beige;
    width: 100%;


}

.card_info2:hover {
    transform: translateY(3%);

}


.nav {
    position: fixed;
    width: 50px;
    height: 657px;
    right: 0;
    display: flex;
    align-items: center;
    color: var(--menu-home);
    font-size: 25px;
    display: flex;
    z-index: 2;
    
}

.name {
    position: fixed;
    text-align: end;
    width: 130px;
    top: 40px;
    right: 20px;
   
}

.nav ul {
    
    height: 67%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    
    transform: rotate(90deg);
    gap: 20px;
    
}

.nav li {
    height: 80px;
    width: 120px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.15s ease;
}

.home:hover {
    color: var(--menu-home);
    transition: color 0.15s ease;
}

.projects:hover {
    color: var(--menu-projects);
    transition: color 0.15s ease;
}

.contact:hover {
    color: var(--menu-contact);
    transition: color 0.15s ease;
}

.footer_container {
    position: fixed;
    top: 600px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    
}

.social_icons_container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 60px;
    align-items: center;
    gap: 40px;
    
}

.social_icons {
    color: var(--white-color);
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.social_icons:hover {
    transform: scale(1.05); 
    transition: transform 0.5s ease;
}

.whatsapp {
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 1s;
    position: relative;
    transition: width 1s;
}

.whatsapp:hover {
    width: 130px;
    display: flex;
    transition: width 1s;
}


.deploy_whatsapp {
    width: 130px;
    display: flex;
    transition: width 0.5s;
    
    
}

.phone {
    position: absolute;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--white-color);
    padding-left: 5px;
    
}


.hidden_phone {
    transform: translateX(-100%);
    transition: transform 1s;
}

.deploy_phone {
    transform: translateX(30%);
    transition: transform 1s;
}

.whatsapp:hover > .phone {
    transform: translateX(30%);
    transition: transform 1s;
} 


@media screen and (min-width: 1250px) {
    
    .nav {
        height: 930px;
        
    }
    
    .nav ul {
        height: 47%;
                
    }
    
    .home_container,
    .projects_container,
    .contact_container {
        height: 930px;
        
    }

    .home_portada {
        top: 400px;
    }    
    .home_title {
        top: 200px;
        
    }

    .projects_title {
        top: 250px;
    }
    
    .projects_body_img {
        top: 250px;
                
    }
    

    .contact_form {
        top: 310px;
                
    }

    .contact_title {
        top: 280px;
        
    }

    .footer_container {
        top: 880px;
       
    }
}